<% layout('layout/boilerplate') %>
    <form action="/stations/<%=sta.id%>?_method=PUT" method="post" class="row g-3 needs-validation" novalidate>
        <div class="col-12">
            <label for="name"  class="form-label">Name of the station</label>
            <input type="text" name="name" id="name" class="form-control" value="<%=sta.name%>" required>
        </div>
        <div class="col-12">
            <label for="des" class="form-label">Description of the station</label>
            <textarea name="description" id="des" cols="30" rows="5" class="form-control" required></textarea>
        </div>
        <div class="col-12">
            <label for="loc" class="form-label">Location of the station</label>
            <input type="text" name="location" id="loc" class="form-control" value="<%=sta.location%>" required >
        </div>
        <div class="col-12">
            <label for="fc" class="form-label">Fastcharging </label>
            <select name="fastcharging" id="fc" class="form-select" required>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="col-12">
            <button class="btn btn-outline-success">Update</button>
        </div>    
    </form>
    
    <br>

    <form action="/station/<%=sta.id%>" method="get">
        <div class="col-12">
            <button class="btn btn-outline-success" >Back</button>
        </div>
    </form>


