<% layout('layout/boilerplate') %>
    <h1>All stations</h1>
    
    <% for(let station of stations){%>
      <div class="card xs-3" >
          <% if(station.images.length > 0) { %>
              <img src="<%=station.images[0].url%>" class="card-img-top" >
          <% } %>
        <div class="card-body">
          <h5 class="card-title"><%=station.name%></h5>
          <p class="card-text"><%=station.description%></p>
          <a href="/stations/<%=station.id%>" class="btn btn-outline-success">View details</a>
        </div>
      </div>
    <%}%>
    